.subscribe-button {
  background-color: #CC0000;
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 2px;
  font: 14px Arial;
  cursor: pointer;
  padding: 10px 16px;
  transition: opacity 1s;
}

.subscribe-button:hover {
  opacity: 0.7;
}

.subscribe-button:active {
  opacity: 0.4;
}

.join-button {
  background-color: white;
  color: rgb(39, 139, 239);
  border-color : rgb(39, 139, 239);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  padding: 10px 16px;
  font-size: 16;
  cursor: pointer;
  margin-left: 8px;
  padding-left: 15;
  padding-right: 11;
  padding-top: 11;
  padding-bottom: 13;
  transition: opacity 1s;
  transition: background-color 1s, 
  color 1s;
}

.join-button:hover {
  background-color: rgb(39, 139, 239);
  color: white;
}

.join-button:active {
  opacity: 0.4;
}

.tweet-button {
  background-color: rgb(39, 139, 239);
  color: white;
  border: none;
  width: 90px;
  height: 45px;
  border-radius: 21.5px;
  font-weight: bold;
  font-size: 16;
  cursor: pointer;
  margin-left: 8px;
  transition: box-shadow 1s;
}

.tweet-button:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.tweet-button:active {
  opacity: 0.7;
}

