p {
  font-family: Roboto;
}
.video-title {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  width: 300;
  line-height: 25px;
  margin-bottom: 0;
}
p {
  font-size: 15px;
}

.video-stats {
  color: rgb(96, 96, 96);
  margin-top: 5;
}

.video-author {
  color: rgb(96, 96, 96);
  margin-top: 20;
}

.video-description {
  color: rgb(96, 96, 96);
  width: 270px;
  margin-top: 18;
  line-height: 21px;
  margin-bottom: 100px;
}

.apple-text {
  margin-bottom: 50px;
  background-color: #e34140;
  padding: 18px;
  color: white;
  font-size: 14px;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
}

.shop-link {
  cursor: pointer;
}

.shop-link:hover {
  text-decoration: underline;
}